

/* body
{
  margin: 0px 0px;
  /* background-image:url("../src/assets/photo1.png"); */
  /* color:white; */
   /* background-size:contain;
   background-repeat: no-repeat;
   background-position: 1rem 0.5rem;
   height:90vh;
   width: auto; */
  /* background-color: black;
   
} */ */

/* h2{
  font-family: DM Sans;
font-size: 25px;
font-weight: 400;
text-align: center;
margin-bottom: 30px;

} */

/* #tc{
  font-family: Roboto;
font-size: 0.75rem;
font-weight: 500;
line-height: 25.51px;
letter-spacing: 0.02em;
text-align: left;

} */

/* .input-field{ 

  background-color: #292929;
  width: 518px;
height: 64.87px;
top: 312px;
left: 1047px;
gap: 0px;
border-radius: 3.82px 0px 0px 0px;
opacity: 0px;
border: none; 


} */

/* 
label{
  font-family: DM Sans;
font-size: 20.03px;
font-weight: 400;
/* line-height: rem; */
/* letter-spacing: 0.02em;
text-align: left;
color: #7C7C7C; */
/* padding-top: 50px; */
/* 
} */ */



/* form{
  display: flex;
  flex-direction: column;
  /* text-align: right; */
  /* gap:5px;
} */ */

/* 
.container-column{
  display: flex;
  flex-direction: row;
  gap: 20px;
} */

::placeholder{
  width: 518px;
height: 64.87px;
top: 312px;
left: 1047px;
gap: 0px;
border-radius: 3.82px 0px 0px 0px;
opacity: 0px;

}

input,select{
  color:white;
}